body {
  margin: 0;
  background: #fafafa;
  font-family: Arial;
}

.auth-box {
  width: 90%;
  max-width: 480px;
  margin: 60px auto;
  padding: 20px;
  background: linear-gradient(135deg, #76fcc6 0%, #0e8999b4 60%);
  border-radius: 10px;
  text-align: center;
}
.main-heading{
  color: #fafafa;
  font-size: 30px;
  font-weight: 600;
  text-shadow: 0px 0px 10px #707070;
}

/* .signup-image{
  margin-top: 80px;
} */

.auth-box input {
  width: 90%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.btn-login {
  background: linear-gradient(135deg, #ff2cab, #8f00ff);
  color: #fff;
  padding: 12px;
  border-radius: 8px;
  width: 100%;
  border: none;
  margin-top: 10px;
  transition: all 0.4s ease; 
}

.btn-login:hover {
  background: linear-gradient(135deg, #8f00ff, #ff2cab);
  color: #fff;
  padding: 12px;
  border-radius: 8px;
  width: 100%;
  border: none;
  margin-top: 10px;
  transform: scale(1.1);
}

.link a {
  color: #8f00ff;
}
body {
    min-height: 100vh; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

.auth-box{
    
    margin: 20px auto; 
    margin-top: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
        box-shadow: 0 20px 60px rgba(0, 0, 0, 0.3);

}