body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
    /* background: linear-gradient(to top, #ee51e1 0%, #0909ff 60%); */
    background: #ced6e0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.welcome-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-container {
  text-align: center;
    border-radius: 24px;
    width: 100%;
    max-width: 480px;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    background: linear-gradient(135deg, #fc76f1 0%, #800e99b4 60%);

}
.login_image{
  margin-top: 80px;
}

.logo {
  font-size: 55px;
  font-weight: 800;
  margin-bottom: 10px;
  color: #ffffff;
  text-shadow: 0px 1px 20px #2c2c2c;
}

.subtitle{
  color: #ffffff;
}
.btn {
  display: block;
  margin: 10px auto;
  background: #fff;
  background: linear-gradient(120deg, #6d5bb1, #221c37);
  color: #ffff;
  padding: 12px;
  width: 200px;
  border-radius: 80px;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.4s ease; 
}

.btn:hover{
  display: block;
  margin: 10px auto;
  background: #fff;
  background: linear-gradient(120deg, #221c37, #6d5bb1);
  color: #ffff;
  padding: 12px;
  width: 200px;
  border-radius: 80px;
  text-decoration: none;
  font-weight: bold;
  transform: scale(1.1);
}
.btn-outline {
  border: 2px solid #fff;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  width: 200px;
  display: block;
  margin: auto;
  border-radius: 80px;
  margin-bottom: 80px;
  transition: all 0.4s ease; 

}

.btn-outline:hover {
  border: none;
  background: linear-gradient(120deg, #221c37, #6d5bb1);
  padding: 10px;
  color: #fff;
  text-decoration: none;
  width: 200px;
  display: block;
  margin: auto;
  border: 2px solid #221c37;
  border-radius: 80px;
  margin-bottom: 80px;
  transform: scale(1.1);
}
.social-medai{
  margin-bottom: 30px;
}

.sicon{
  transition: transform 0.3s ease;
}
.sicon:hover{
  transform: scale(1.1);
}
.another{
  color: #dadada;
  font-weight: 300;
  letter-spacing: 2px;
}